[submodule "themes/osuny"]
	path = themes/osuny
	url = https://github.com/osunyorg/theme.git
[submodule "themes/nig-theme"]
	path = themes/nig-theme
	url = git@github.com:osunyorg/nig-theme.git
[submodule "themes/osuny-plugin-centered-header"]
	path = themes/osuny-plugin-centered-header
	url = git@github.com:osunyorg/osuny-plugin-centered-header.git
[submodule "themes/osuny-plugin-centered-layout"]
	path = themes/osuny-plugin-centered-layout
	url = git@github.com:osunyorg/osuny-plugin-centered-layout.git
