header#document-header
    .primary-menu
        padding-top: 0
.hero
    .content
        .hero-text
            .has-lead > p
                font-style: italic
                margin-top: 0
footer#document-footer
    .footer-logo
        margin-left: calc(var(--grid-gutter) * -1)